<h1>Welcome to Org-Finder</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <p class="error"><%= e %></p>
    <% end %>
<% end %>

<div class="block" style="display:inline-block; width: 30%; margin-right: 250px">
    <h2>Register!</h2>
    <form action="/sessions" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        First Name:<input type="text" name="user[fname]">
        <br><br>
        Last Name: <input type="text" name="user[lname]">
        <br><br>
        Email: <input type="text" name="user[email]">
        <br><br>
        Password: <input type="password" name="user[password]">
        <br><br>
        <input type='submit' value='Register'>
    </form>
</div>

<div class="block" style="display:inline-block; width: 30%; vertical-align:top">
    <h2>Already a user? Login here:</h2>

    <form action="/login" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        Email: <input type="text" name="login_email">
        <br><br>
        Password: <input type="password" name="login_password">
        <br><br>
        <input type='submit' value='Login'>
    </form>
</div>
